.btn-red{
    background-color: #AE445A;
  }
.btn-purple{
    background-color: #432E54 !important;
    color: white !important;
    font-weight: 800 !important;
  }
  .btn-purplelow{
    background-color: #4B4376 !important;
    color: white !important;
    font-weight: 800 !important;
  }